<h1>StaticPages#landing_page</h1>
<p>Find me in app/views/static_pages/landing_page.html.erb</p>


<i class="fa-brands fa-facebook fa-2xl"></i>

<i class="fa-solid fa-house fa-fade"></i>

<i class="fa-solid fa-heart fa-beat" style="--fa-beat-scale: 2.0;"></i>
